html {
    background: url(../img/mami4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Gloria Hallelujah', cursive;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0px;
    height: 90px;
    background-color: rgba(68, 68, 68, 0.5);
    grid-row: 1;
    grid-column: 1/13;
    width: 100%;
}

header h2 {
    grid-column: 8/11;
}

#logo {
    width: 60px;
    grid-column-start: 2;
    opacity: 0.5;
}

h1 {
    text-align: center;
}

form {
    background-color: white;
    width: 400px;
    grid-column: 2/12;
    grid-row: 2;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input {
    height: 40px;
    line-height: 40px;
    margin: 25px;
    outline: 0;
    display: block;
    width: 80%;
    border: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid rgba(68, 68, 68, 0.3);
    font-size: 1rem;
    color: rgba(68, 68, 68, 0.8);
}

button {
    height: 40px;
    width: 250px;
    border: 0;
    border-radius: 15px;
    background: #cc0099;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    outline: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    body, header {
        display: grid;
        /* grid-template-columns: repeat(1, 1fr); */
    }
    header h2 {
        grid-column: 6/11;
    }
    #logo {
        width: 60px;
        grid-column-start: 2;
        opacity: 0.5;
    }
    form {
        width: 250px;
    }
    button {
        width: 80%;
    }
}
